
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages renderMode="div" />

<table  class="tx_championshipmanager" >
	<tr>
		<th>Meisterschaften</th>
	</tr>

	<f:for each="{tournaments}" as="tournament">
		<tr>
			<td><f:link.action action="show" arguments="{tournament : tournament}"> {tournament.name} {tournament.type} <f:translate key="tx_championshipmanager_domain_model_tournament.gender{tournament.gender}" /></f:link.action></td>
		</tr>
	</f:for>
</table>
</f:section>