
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Edit Match</h1>

<f:flashMessages renderMode="div" />

<f:render partial="FormErrors" arguments="{object:Match}" />
<f:security.ifAuthenticated>
		<f:then>
			<f:form action="update" name="match" object="{match}" >
				<f:render partial="Match/FormFields" arguments="{match:match}" />
				<f:form.submit value="Speichern" />
			</f:form>
		</f:then>
		<f:else>
			Sie müssen sich einloggen, um Ergebnisse einzugeben
		</f:else>
		</f:security.ifAuthenticated>
</f:section>