
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Tournround</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_championshipmanager" >
	<tr>
		<th><f:translate key="tx_championshipmanager_domain_model_tournround.name" /></th>
		<th><f:translate key="tx_championshipmanager_domain_model_tournround.ko" /></th>
		<th><f:translate key="tx_championshipmanager_domain_model_tournround.shortname" /></th>
		<th><f:translate key="tx_championshipmanager_domain_model_tournround.position" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{tournrounds}" as="tournround">
		<tr>
			<td><f:link.action action="show" arguments="{tournround : tournround}"> {tournround.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tournround : tournround}"> {tournround.ko}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tournround : tournround}"> {tournround.shortname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tournround : tournround}"> {tournround.position}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{tournround : tournround}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{tournround : tournround}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Tournround</f:link.action>
</f:section>