
<table class="tx-championshipmanager" >
	<tr>
		<td>
			<f:translate key="tx_championshipmanager_domain_model_tournament.name" />
		</td>
		<td>
		{tournament.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_championshipmanager_domain_model_tournament.gender" />
		</td>
		<td>
		{tournament.gender}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_championshipmanager_domain_model_tournament.begin" />
		</td>
		<td>
		{tournament.begin -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_championshipmanager_domain_model_tournament.end" />
		</td>
		<td>
		{tournament.end -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_championshipmanager_domain_model_tournament.type" />
		</td>
		<td>
		{tournament.type}
		</td>
	</tr>
</table>