<section class="group group-{group.shortname}">
	<h3>{group.name}</h3>
	<f:if condition="{ko}">
		<f:then>
		</f:then>
		<f:else>
			<f:render partial="Group/Table" arguments="{group:group}" />
		</f:else>
	</f:if>
	<section class="matches">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Zeit</th>
					<th>Feld</th>
					<th>N°</th>
					<th>Spiel</th>
					<th>Ergebnis</th>
				</tr>
			</thead>
			<tbody>
				<f:for each="{group.matches}" as="match">
					<f:render partial="Match/Show" arguments="{match:match}" />
			 	</f:for>
			</tbody>
			
			
	 	</table>
	</section>
	
</section>
