<section class="table ">
<h4>Tabelle</h4>
	<table>
		<thead>
			<tr>
				<th>Pos.</th>
				<th>Mannschaft</th>
				<th>Punkte</th>
				<th>gew. Spiele</th>
				<th>Satz-<br>Quotient</th>
				
				<th>Ball-<br>Quotient</th>
			</tr>
		</thead>
		<tbody>
			<f:for each="{group.groupteams}" as="groupteam">
				<tr>
					<td>{groupteam.ranking}</td>
					<td>{groupteam.team.name}</td>
					<td>{groupteam.points}</td>
					<td>{groupteam.wonmatches}</td>
					<td>{groupteam.setquotient}</td>
					<td>{groupteam.ballquotient}</td>
				</tr>
		 	</f:for>
		</tbody>
	</table>
		
</section>
