
<h3>
	{match.matchnameshort} - <f:format.date format="H:i">@{match.matchtime}</f:format.date>Uhr - Feld {match.court} - Spiel {match.number}<br>
</h3>
<table style="width: 400px;">
	<tr>
		<th></th>
		<th><b>{match.hometeam.team.name}</b></th>
		<th>-</th>
		<th><b>{match.guestteam.team.name}</b></th>
	</tr>
	<tr>
		<td> 1.Satz</td>
		<td><f:form.textfield type="number" additionalAttributes="{min:0, max:99}" style="width:40px;" property="homepointsset1" /></td>
		<td>:</td>
		<td><f:form.textfield type="number" additionalAttributes="{min:0, max:99}" style="width:40px;" property="guestpointsset1" /></td>
	</tr>
	<tr>
		<td> 2.Satz</td>
		<td><f:form.textfield type="number" additionalAttributes="{min:0, max:99}" style="width:40px;" property="homepointsset2" /></td>
		<td>:</td>
		<td><f:form.textfield type="number" additionalAttributes="{min:0, max:99}" style="width:40px;" property="guestpointsset2" /></td>
	</tr>
	<tr>
		<td> 3.Satz</td>
		<td><f:form.textfield type="number" additionalAttributes="{min:0, max:99}" style="width:40px;" property="homepointsset3" /></td>
		<td>:</td>
		<td><f:form.textfield type="number" additionalAttributes="{min:0, max:99}" style="width:40px;" property="guestpointsset3" /></td>
	</tr>
</table>
<br><br>
